name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-gcc-serial:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: compile
      run: |
        git submodule update --init
        ./compile.sh --jobs 4 --gcc -s --checkout
        
  build-gcc-serial-benchmarking:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: compile
      run: |
        git submodule update --init
        ./compile.sh --jobs 4 --gcc --sb --checkout
        
  build-pgi-multicore:
    
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: compile
        run: |
          git submodule update --init
          ./compile.sh --docker-build
          docker run -i --rm -v $(pwd):/host_pwd -w /host_pwd artss_docker ./compile.sh -m --jobs 4 --checkout

  build-pgi-multicore-benchmarking:
    
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: compile
        run: |
          git submodule update --init
          ./compile.sh --docker-build
          docker run -i --rm -v $(pwd):/host_pwd -w /host_pwd artss_docker ./compile.sh --mb --jobs 4
  
  build-pgi-serial:
    
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: compile
        run: |
          git submodule update --init
          ./compile.sh --docker-build
          docker run -i --rm -v $(pwd):/host_pwd -w /host_pwd artss_docker ./compile.sh --jobs 4 -s --checkout
        
  build-pgi-serial-benchmarking:
    
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: compile
        run: |
          git submodule update --init
          ./compile.sh --docker-build
          docker run -i --rm -v $(pwd):/host_pwd -w /host_pwd artss_docker ./compile.sh --jobs 4 --sb
          
  cmake-tests:
    
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: compile
        run: |
          git submodule update --init
          ./compile.sh --docker-build
          docker run -i --rm -v $(pwd):/host_pwd -w /host_pwd artss_docker sh -c "./compile.sh --jobs 4 -s -m -d && cd build && ctest -E 'gpu|gtest' --checkout"
          
  unit-tests_serial:
    
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: compile
        run: |
          git submodule update --init
          mkdir build
          ./compile.sh --docker-build
          docker run -i --rm -v $(pwd):/host_pwd -w /host_pwd artss_docker sh -c "cd build && cmake .. && make artss_gtest && gtests/bin/artss_gtest --checkout"
  test-xml:
    
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: compile
        run: |
          git submodule update --init
          ./compile.sh --docker-build
          docker run -i --rm -v $(pwd):/host_pwd -w /host_pwd artss_docker sh -c "cd tools && pwd && ./test_xml-builder.sh -v"
